body {
    font-family: Arial, Helvetica, sans-serif;
}


h4 {
    
    color:red;
   
}


.preco_normal {
    font-size: smaller; text-decoration: line-through;
}

.preco_promocao{
    font-size: large; color: red; font-weight: bolder; line-height: 1%;
}

#rodape {
    text-align: center;
}


#nome_contato {
    color: black;
}

#nome_mensagem {
    color: black;
}
